<% provide(:title, @client.name) %>
<table class="table table-striped">
	<thead>
		<th>Name</th>
		<th>Website</th>
	</thead>
	<tbody>
		<td><%= @client.name %></td>
		<td><%= @client.website %></td>
	</tbody>
</table>