<% provide(:title, @client.name) %>
<table class="table table-striped">
	<thead>
		<th>Name</th>
		<th>Website</th>
		<th></th>
	</thead>
	<tbody>
		<td><%= @client.name %></td>
		<td><%= @client.website %></td>
		<% if current_associate.admin? %>
			<td><%= link_to 'Edit', edit_client_path(@associate) %></td>
			<td><%= link_to 'Delete', @client, method: :delete, data: { confirm: "You sure?" } %></td>
		<% end %>
	</tbody>
</table>