<% provide(:title, @search.position) %>
<table class="table table-striped">
	<thead>
		<th>Client</th>
		<th>Position</th>
	</thead>
	<tbody>
		<td><%= @search.client.name %></td>
		<td><%= @search.position %></td>
		<td><%= link_to 'Edit', edit_search_path %></td>
	</tbody>
</table>